/*Home Page*/
.jumbotron {
  background-image:url('/images/games.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.homepage {
  padding-left: 0px;
}

.jumbotron h1{
  color: #ffffff;
}

.jumbotron h4{
  color: #ffffff;
}

.footer {
  margin-top: 30px;
}

.page-header h1 {
  font-family: 'Press Start 2P', cursive;
}

@media (max-width: 600px) {
  .page-header h1 {
    font-size: 26px;
  }
}
.logo a {
  color: #333333;
  text-decoration: none;
}

.logo a:hover {
  text-decoration: none;
}



/*layout and overriding default bootstrap styles*/
.footer {
  margin-left: 30px;
}

.page-heading {
  font-family: 'Bree Serif', serif;
}

body {
  font-family: 'Lato', sans-serif;
}

.btn {
  margin: 10px;
}
.flash {
  padding: 10px;
  margin-left: 10px;
}

/*New Match and Edit Match Forms*/
.new-match {
  margin-top: 30px;
}

.new-match label {
  font-size: 26px;
}

.switch-field input {
  display: none;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 80px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  margin: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 5px;
}

.switch-field label:last-of-type {
  border-radius: 5px;
}

.friend-matches{
  -moz-box-shadow: 0 0 2px black;
  -webkit-box-shadow: 0 0 2px black;
  box-shadow: 0 0 2px black;
  padding: 30px;
}

/*Reset Requests Page*/

.reset-request {
  margin: 30px;
  border-radius: 5px;
  padding: 10px;
}

.complete {
  border: 1px solid #2b542c;
}

.pending {
  border: 1px solid #8a6d3b;
}

.reject {
  border: 1px solid #a94442;
}

.reset-request .img-rounded {
  width: 100px;
}

.reset-request .btn{
  padding: 10px;
  margin-top: 20%;
}


/*
 related file: matches.erb
 position the button on the right and make it inline-block
*/
.reset-form {
  display: inline-block;
  float: right;
}

.reset-form .btn {
  margin: -10px 30px auto auto;
}

/*
 related file: matches.erb
 align some headers into center
*/
.summary .col-md-6 h4{
  text-align: center;
}

.history-h2 {
  text-align: center;
}