<div class="container-fluid">
  
  <a href=""><h2>Back to overview</h2></a>

  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Your overall record against Steven</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>20 Wins</h4>
        </div>
        <div class="col-md-6">
          <h4>10 Loses</h4>
        </div>
      </div>
    </div>
  </div>
   
  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2>FIFA</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>12 Wins</h4>
        </div>
        <div class="col-md-6">
          <h4>10 Loses</h4>
        </div>
      </div>
      <h2>Match History Last 10</h2>
      <div class="panel-body">
        <div class="col-md-6">
          <ol>
            <li><h4>Win on sunday 12 feb</h4></li>
            <li><h4>Win on sunday 12 feb</h4></li>
            <li><h4>Win on sunday 12 feb</h4></li>
            <li><h4>Win on sunday 12 feb</h4></li>
          </ol>
        </div>
        <div class="col-md-6">
          <button>Edit</button>
          <br/>
          <button>Edit</button>
          <br/>
          <button>Edit</button>
          <br/>
          <button>Edit</button>
        </div>
      </div>
    </div>
  </div>

   <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2>NHL</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>12 Wins</h4>
        </div>
        <div class="col-md-6">
          <h4>10 Loses</h4>
        </div>
      </div>
      <h2>Match History Last 10</h2>
      <div class="panel-body">
        <div class="col-md-6">
          <ol>
            <li><h4>Win on sunday 12 feb</h4></li>
            <li><h4>Win on sunday 12 feb</h4></li>
            <li><h4>Win on sunday 12 feb</h4></li>
            <li><h4>Win on sunday 12 feb</h4></li>
          </ol>
        </div>
        <div class="col-md-6">
          <button>Edit</button>
          <br/>
          <button>Edit</button>
          <br/>
          <button>Edit</button>
          <br/>
          <button>Edit</button>
        </div>
      </div>
    </div>
  </div>

 <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2>Super Smash Bros</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>12 Wins</h4>
        </div>
        <div class="col-md-6">
          <h4>10 Loses</h4>
        </div>
      </div>
      <h2>Match History Last 10</h2>
      <div class="panel-body">
        <div class="col-md-6">
          <ol>
            <li><h4>Win on sunday 12 feb</h4></li>
            <li><h4>Win on sunday 12 feb</h4></li>
            <li><h4>Win on sunday 12 feb</h4></li>
            <li><h4>Win on sunday 12 feb</h4></li>
          </ol>
        </div>
        <div class="col-md-6">
          <button>Edit</button>
          <br/>
          <button>Edit</button>
          <br/>
          <button>Edit</button>
          <br/>
          <button>Edit</button>
        </div>
      </div>
    </div>
  </div>

  <a href=""><h3>Show all</h3></a>

</div>
