<h1>Reset Requests</h1>

<div class="row reset-request">
  <div class="col-md-9">
    <h3>
    <img src="/images/jenny.jpg" class="img-rounded" width="100">
    
    Bob would like to reset NHL match history with you.</h3>
  </div>
  <div class="col-md-3">

   <a class="btn btn-success btn-lg" href="#">
  <i class="fa fa-check fa-2x fa-fw"></i></a>
  <a class="btn btn-danger btn-lg" href="#">
  <i class="fa fa-times fa-2x fa-fw"></i></a>
  </div>

</div>