<div class="container-fluid">

  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h2>Your matches</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>50 Wins</h4>
        </div>
        <div class="col-md-6">
          <h4>10 Loses</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h2>Friends Matches</h2>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>Jenny</h4>
          <img src="../images/jenny.jpg" class="img-rounded" alt="Cinque Terre" width="200">
        </div>
        <div class="col-md-6">
          <h4>Game 1</h4>
          <p>Win</p>
          <h4>Game 2</h4>
          <p>Loss</p>
        </div>
      </div>
      <div class="panel-body">
        <div class="col-md-6">
          <h4>Reinhard</h4>
          <img src="../images/ReinhardSimeon.jpg" class="img-rounded" alt="Cinque Terre" width="200">
        </div>
        <div class="col-md-6">
          <h4>Game 1</h4>
          <p>Win</p>
          <h4>Game 2</h4>
          <p>Loss</p>
        </div>
      </div>
    </div>
  </div>

</div>
