<div class="container-fluid">

  <div class="jumbotron col-md-12">
    <h1>The Ultimate Score Keeper</h1>
    <a class="btn btn-primary btn-lg" href='/users/signup' role="button">Sign up</a>
    <h4 class="text-primary">Keep track of the smackdown you lay on your friends!!</h4>
  </div>

</div>

<a href="matches/new">
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Record a Match</h3>
    </div>
    <div class="panel-body">
      <p>Already laid a beatdown? Record it forever here!</p>
    </div>
  </div>
</div>
</a>

<a href="matches">
<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>Match History</h3>
    </div>
    <div class="panel-body">
      <p>Browse through your 'trophy' case</p>
    </div>
  </div>
</div>
</a>
