<div class="container-fluid">
  
  <div class="jumbotron col-md-12">
    <h1>Hello, world!</h1>
    <a class="btn btn-primary btn-lg" href="#" role="button">Sign up</a>
    <p class="text-primary">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  </div>

</div>


<div class="col-md-6">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>First Feature</h3>
    </div>
    <div class="panel-body">
      <p>Show a list of matches you played with your friends!</p>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3>Second Feature</h3>
    </div>
    <div class="panel-body">
      <p>Record a match with your roomates!</p>
    </div>
  </div>
</div>