<div class="container-fluid">

  <div class="jumbotron col-md-12">
    <h1>The Ultimate Score Keeper</h1>
    <% if @current_user == nil %>
    <a class="btn btn-primary btn-lg" href='/users/signup' role="button">Sign up</a>
    <% end %>
    <h4 class="text-primary">Keep track of the smackdown you lay on your friends!!</h4>
  </div>

  <div class="row">

    <a href="matches/new">
    <div class="col-md-6 homepage">
      <button type="button" class="btn btn-primary btn-lg btn-block">Record a Match</button>
    </div>
    </a>

    <a href="matches">
    <div class="col-md-6 homepage">
      <button type="button" class="btn btn-primary btn-lg btn-block">Match History</button>
    </div>
    </a>
  </div>
