<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <div class="page-header row">
      <div class="col-md-1 logo">
        <a href="/">
        <h1><i class="fa fa-gamepad fa-2x"></i></h1>
        </a>
      </div>
      <div class="col-md-7">
        <h1>ScoreKeeper</h1>
        <h3>#nomorearguments</h3>
      </div>
      <div class="col-md-4">
        <% if @current_user %>
          <a class="btn btn-lg btn-primary pull-right" href="/logout">
          Logout
          </a>
          <a class="btn btn-lg btn-primary pull-right" href="/matches/new">
            New Match
          </a>

        <% else %>
          <a class="btn btn-lg btn-primary pull-right" href="/users/login">   Login
          </a>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <div class="row">
      <footer class="footer col-md-12">
        <p>Copyright Jenny, Reinhard and Steve</p>
      </footer>
   </div>
  </div>
</body>
</html>
