<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">

  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">
  <link rel='stylesheet' href='/stylesheets/jquery-ui.ui-darkness-1.8.css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/jquery-ui.min.js"></script>
  <script src="/javascript/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
    <div class="page-header row">
      <div class="col-md-8">
        <h1 class="text-primary">Score Keeper <small>#nomorearguments</small></h1>
      </div>
      <div class="col-md-4">
        <% if @current_user %>
          <a class="btn btn-lg btn-primary pull-right" href="/matches/new">
            New Match
          </a>
          <a class="btn btn-lg btn-primary pull-right" href="/logout">
          Logout
          </a>

        <% else %>
          <a class="btn btn-lg btn-primary pull-right" href="/users/login">   Login
          </a>
        <% end %>
      </div>
    </div>
    <%= yield %>
    <div class="row">
      <footer class="footer col-md-12">
        <p>footer</p>
      </footer>
   </div>
  </div>
</body>
</html>
